.cards {
  display: grid;
  gap: 0.5rem;

  &Grid_4 {
    grid-template-columns: repeat(4, 1fr);
    button {
      height: 7.5rem;
      width: 7.5rem;
      font-size: 3.5rem;
    }
  }

  &Grid_6 {
    grid-template-columns: repeat(6, 1fr);
    button {
      height: 5rem;
      width: 5rem;
      font-size: 2.5rem;
    }
  }

  @media (max-width: 540px) {
    &Grid_4 {
      button {
        height: 4.5rem;
        width: 4.5rem;
        font-size: 2.5rem;
      }
    }

    &Grid_6 {
      button {
        height: 3rem;
        width: 3rem;
        font-size: 1.75rem;
      }
    }
  }
}
