.button {
  cursor: pointer;
  width: 100%;
  min-width: 2.625em;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
  padding: 0.8em 1em;
  border: none;
  border-radius: 1.3em;
  color: var(--c-white-1);
  background-color: var(--c-blue-5);
  transition: all 0.3s;

  &:hover {
    background-color: var(--c-blue-3);
  }

  &Primary {
    color: var(--c-white-1);
    background-color: var(--c-yellow-1);

    &:hover {
      background-color: var(--c-yellow-2);
    }
  }

  &Secondary {
    color: var(--c-blue-2);
    background-color: var(--c-blue-6);

    &:hover {
      color: var(--c-white-1);
      background-color: var(--c-blue-3);
    }
  }

  &Circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.625em;
    width: 2.625em;
    padding: 0;
    border-radius: 50%;
    font-size: 1.25rem;
    flex-shrink: 0;
  }

  &Active {
    pointer-events: none;
    background-color: var(--c-blue-2);

    &:hover {
      background-color: var(--c-blue-2);
    }
  }

  @media (max-width: 540px) {
    &,
    &Circle {
      font-size: 1rem;
    }
  }
}
