.card {
  background-color: transparent;
  //! 4x4
  height: 7.5rem;
  width: 7.5rem;
  //! 6x6
  /* height: 5rem;
  width: 5rem;*/

  perspective: 1000px;
  border: none;

  &Inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &Open &Inner {
    transform: rotateY(180deg);
  }

  &Front,
  &Back {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &Front {
    background-color: var(--c-blue-2);
  }

  &Back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-yellow-1);
    color: var(--c-white-1);
    font-weight: 700;
    transform: rotateY(180deg);
    //! 4x4
    /*  font-size: 3.5rem;*/
    //! 6x6
    font-size: 2.5rem;
  }
  @media (max-width: 540px) {
    //! 4x4

    height: 4.5rem;
    width: 4.5rem;

    //! 6x6
    /*   height: 3rem;
    width: 3rem;*/

    &Back {
      //! 4x4
      font-size: 2.5rem;
      //! 6x6
      /* font-size: 1.75rem;*/
    }
  }
}
