.gameField {
  flex-grow: 1;

  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}

/* 

.app {
   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  width: 1140px;
  padding: 20px; 
}

.gameContainer {
  width: 573px;
}

.gameArea {
  width: 100%;
  height: 573px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: stretch;
  margin-bottom: 2rem;
}

.gameInfo {
  display: flex;
  gap: 2rem;
}


*/
