.playerStats {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 16rem;
  background-color: var(--c-blue-6);
  font-weight: 700;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.625rem;

  &Name {
    text-transform: capitalize;
    font-size: 1.125rem;
    color: var(--c-blue-3);
  }

  &Score {
    line-height: 1;
    font-size: 2rem;
    color: var(--c-blue-2);
  }

  &Active {
    background-color: var(--c-yellow-1);
    span {
      color: var(--c-white-1);
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: -40px;
      transform: (translateX(-50%));
      border: 20px solid transparent;
      border-bottom: 20px solid var(--c-yellow-1);
    }
  }
}
