.playerStats {
  position: relative;
  flex-direction: column;
  max-width: 16rem;
  font-weight: 700;
  gap: 1rem;

  &Active {
    background-color: var(--c-yellow-1) !important;

    span {
      color: var(--c-white-1) !important;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: -40px;
      transform: (translateX(-50%));
      border: 20px solid transparent;
      border-bottom: 20px solid var(--c-yellow-1);
    }
  }

  @media (max-width: 540px) {
    align-items: center;
  }
}
