@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //_Colors:
  --c-yellow-1: #fda214;
  --c-yellow-2: #ffb84a;

  --c-blue-1: #152938;
  --c-blue-2: #304859;
  --c-blue-3: #6395b8;
  --c-blue-4: #7191a5;
  --c-blue-5: #bcced9;
  --c-blue-6: #dfe7ec;

  --c-white-1: #fcfcfc;
  --c-white-2: #f2f2f2;

  --c-black-1: rgba(0, 0, 0, 0.4);

  //_Font:
  --f-family: 'Atkinson Hyperlegible', sans-serif;
}

body {
  font-family: var(--f-family);
}

.menuWrapper {
  min-height: 30rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: var(--c-white-1);
  padding: 2.25rem 2.5rem;
  border-radius: 1rem;

  @media (max-width: 540px) {
    &Wrapper {
      min-height: 22.5rem;
      width: 20rem;
      padding: 1.25rem;
    }
  }
}
