@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  //_Colors:
  --c-yellow-1: #fda214;
  --c-yellow-2: #ffb84a;

  --c-blue-1: #152938;
  --c-blue-2: #304859;
  --c-blue-3: #6395b8;
  --c-blue-4: #7191a5;
  --c-blue-5: #bcced9;
  --c-blue-6: #dfe7ec;

  --c-white-1: #fcfcfc;
  --c-white-2: #f2f2f2;

  //_Font:
  --f-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  font-family: var(--f-family);
}

button {
  cursor: pointer;
}

.block {
  width: 100%;
  display: flex;
  gap: 1rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  background-color: var(--c-blue-6);
  border-radius: 0.625rem;

  span:first-child {
    text-transform: capitalize;
    font-size: 1.125rem;
    color: var(--c-blue-3);
  }

  time,
  span:last-child {
    line-height: 1;
    font-size: 2rem;
    color: var(--c-blue-2);
  }
  @media (max-width: 540px) {
    gap: 0.5rem;
    padding: 0.75rem 1rem;
  }
}

//! temp \|/

.app {
  /*   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  width: 1140px;
  padding: 20px; */
}

.gameContainer {
  width: 573px;
}

.gameArea {
  width: 100%;
  height: 573px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: stretch;
  margin-bottom: 2rem;
}

.gameInfo {
  display: flex;
  gap: 2rem;
}
